name: Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region eu-central-1 | \
          docker login --username AWS --password-stdin 272493677884.dkr.ecr.eu-central-1.amazonaws.com

      - name: Build image
        run: |
          docker build -t 2-cicd-ecr .
          docker tag 2-cicd-ecr:latest \
          272493677884.dkr.ecr.eu-central-1.amazonaws.com/2-cicd-ecr:latest

      - name: Push image
        run: |
          docker push 272493677884.dkr.ecr.eu-central-1.amazonaws.com/2-cicd-ecr:latest

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            aws ecr get-login-password --region eu-central-1 | \
            docker login --username AWS --password-stdin 272493677884.dkr.ecr.eu-central-1.amazonaws.com

            docker pull 272493677884.dkr.ecr.eu-central-1.amazonaws.com/2-cicd-ecr:latest

            docker rm -f 2-cicd-ecr || true

            docker run -d -p 5000:5000 --name 2-cicd-ecr \
            272493677884.dkr.ecr.eu-central-1.amazonaws.com/2-cicd-ecr:latest
