name: Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: |
          docker build -t 2-cicd-ecr .
          docker tag 2-cicd-ecr:latest 272493677884.dkr.ecr.eu-central-1.amazonaws.com/2-cicd-ecr:latest

      - name: Push to ECR
        run: |
          docker push 272493677884.dkr.ecr.eu-central-1.amazonaws.com/2-cicd-ecr:latest
